<form [formGroup]="selectform">
    <h1 mat-dialog-title>Autorenmodul zuweisen</h1>

    <mat-dialog-content fxLayout="column">
      <div [hidden]="authoringToolList.length > 0">
        <p>
          Es sind keine Autorenmodule in diesem System verfügbar!
        </p>
      </div>
      <div [hidden]="authoringToolList.length === 0" fxLayout="column">
        <p>
          {{data.prompt}}
        </p>
        <mat-form-field>
          <mat-select placeholder="Autorenmodul" formControlName="atSelector" [(value)]="data.authoringTool">
            <mat-option *ngFor="let a of authoringToolList" [value]="a.id">
                {{a.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button *ngIf="authoringToolList.length > 0" mat-raised-button color="primary" type="submit" [mat-dialog-close]="selectform" [disabled]="selectform.invalid">Speichern</button>
      <button mat-raised-button [mat-dialog-close]="false">Abbrechen</button>
    </mat-dialog-actions>

</form>
