<mat-tab-group animationDuration="0ms" fxLayout="column">
  <mat-tab label="Allgemein">
    <ng-template matTabContent>
      <app-unit-metadata [unitData]="ds.unitMetadataNew" (unitDataChanged)="ds.setUnitDataChanged()"></app-unit-metadata>
    </ng-template>
  </mat-tab>
  <mat-tab label="Editor">
    <ng-template matTabContent>
     <!-- <app-unit-editor [workspaceId]="ds.selectedWorkspace" [unitDataOld]="ds.unitMetadataOld" fxFlex
                       [unitDataNew]="ds.unitMetadataNew" (unitDataChanged)="ds.setUnitDataChanged()"></app-unit-editor>-->
      <div><p>editor coming soon</p></div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Vorschau">
    <ng-template matTabContent>
      <app-unit-preview [unitId]="ds.selectedUnit$ | async" [playerId]="ds.unitMetadataNew?.playerid" fxFlex></app-unit-preview>
    </ng-template>
  </mat-tab>
</mat-tab-group>
