<form [formGroup]="editform">
    <h1 mat-dialog-title>Autorenmodul "{{data.oldid}}" ändern</h1>

    <mat-dialog-content fxLayout="column">
      <mat-form-field>
        <input matInput formControlName="id" placeholder="Id">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="editform" [disabled]="editform.invalid">Speichern</button>
      <button mat-raised-button [mat-dialog-close]="false">Abbrechen</button>
    </mat-dialog-actions>

  </form>
