<div id="unitproperties">
  <form [formGroup]="unitpropsForm" *ngIf="myUnitProps !== null" fxLayout="column">
    <h1 mat-dialog-title>Aufgaben-Eigenschaften</h1>

    <div fxLayout="row">
      <div fxLayout="column" fxFlex="50">
        <p>Interne ID in der Datenbank: {{ myUnitProps.id }}<br/>
        Letzte Änderung: {{ myUnitProps.lastchangedStr }}</p>
        <mat-form-field>
          <input matInput formControlName="key" placeholder="Kurzname">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="label" placeholder="Name">
        </mat-form-field>
      </div>
      <p>Autorenmodul: {{ myUnitProps.authoringtoolid }}
        <button mat-raised-button (click)="changeAuthoringTool()">Ändern</button></p>
    </div>

  </form>

  <p *ngIf="myUnitProps === null">Bitte wählen Sie links eine Aufgabe aus der Liste!</p>
</div>
