<div id="unitproperties">
  <form [formGroup]="unitpropsForm" *ngIf="myUnitProps !== null" fxLayout="column">
    <h1 mat-dialog-title>Aufgaben-Eigenschaften</h1>

    <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-between start">
      <div fxLayout="column" fxFlex="50">
        <p>Interne ID in der Datenbank: {{ myUnitProps?.id }}<br/>
        Letzte Änderung: {{ myUnitProps?.lastchangeStr }}</p>
        <mat-form-field>
          <input matInput formControlName="key" placeholder="Kurzname">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="label" placeholder="Name">
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex>
        <p *ngIf="myUnitProps?.authoringtoolid !== null">Autorenmodul: {{ myUnitProps?.authoringtoolid }}<br/>
          <button mat-raised-button (click)="changeAuthoringTool()">Ändern</button></p>
        <p *ngIf="myUnitProps?.authoringtoolid === null">
          <button mat-raised-button (click)="changeAuthoringTool()">Autorenmodul zuweisen</button></p>
        <p *ngIf="myUnitProps?.playerid !== null">Player: {{ myUnitProps?.playerid }}</p>
        <p *ngIf="myUnitProps?.playerid === null">Kein Player zugewiesen.</p>
        <p><em>Der Player wird durch das Autorenmodul zugewiesen, wenn die Aufgabe in der Gestaltungsansicht gespeichert wird.</em></p>
      </div>
    </div>

  </form>

  <p *ngIf="myUnitProps === null">Bitte wählen Sie links eine Aufgabe aus der Liste!</p>
</div>
