<div class="authoring-body">
  <div class="spinner-container" *ngIf="dataLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="navi" fxLayout="column">
    <mat-form-field>
      <mat-select placeholder="Arbeitsbereich" [formControl]="wsSelector">
        <mat-option *ngFor="let ws of workspaceList" [value]="ws.id">
            {{ws.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-chip-list #unitview>
      <mat-chip [selected]="!isDesignView" matTooltip="Eigenschaften" color="primary" (click)="isDesignView = false" fxFlex>
        <mat-icon>edit</mat-icon>
      </mat-chip>
      <mat-chip [selected]="isDesignView" matTooltip="Design" color="primary" (click)="isDesignView = true" fxFlex>
        <mat-icon>brush</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <div fxLayout="row">
      <button mat-raised-button (click)="runUnit()" matTooltip="Voransicht" matTooltipPosition="above" fxFlex>
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-raised-button (click)="saveUnit()" matTooltip="Aufgabe speichern" matTooltipPosition="above" fxFlex>
          <mat-icon>save</mat-icon>
      </button>
    </div>
    <!-- # # # # # # # # # # # # # # # # # # # # # # # # -->
    <mat-button-toggle-group [formControl]="unitSelector" vertical fxFlex>
        <mat-button-toggle *ngFor="let unit of unitList$ | async" [value]="unit.id">{{ unit.key }} - {{ unit.label }}</mat-button-toggle>
    </mat-button-toggle-group>
    <!-- # # # # # # # # # # # # # # # # # # # # # # # # -->
    <div fxLayout="row">
      <button mat-raised-button (click)="addUnit()" matTooltip="Aufgabe hinzufügen" matTooltipPosition="above" fxFlex="33">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button (click)="deleteUnit()" matTooltip="Aufgabe(n) löschen" matTooltipPosition="above" fxFlex="33">
          <mat-icon>delete</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu" matTooltip="Weitere Funktionen..." matTooltipPosition="above" fxFlex>
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Aufgabe(n) verschieben</span>
        </button>
        <button mat-menu-item>
          <span>Aufgabe(n) importieren</span>
        </button>
        <button mat-menu-item>
          <span>Aufgabe(n) als Datei speichern</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
