<div class="navButtonsContainer" *ngIf="showNaviButtons" fxLayout="row">
  <button mat-fab disabled="true" color="accent">
    <i class="material-icons">chevron_left</i>
  </button>
  <div class="navPageButtonsContainer" *ngIf="showPageNaviButtons">
    <button mat-mini-fab [disabled]="!pagePrevEnabled" color="foreground" (click)="prevPageNaviButtonClick()">
      <i class="material-icons">chevron_left</i>
    </button>
    <button mat-mini-fab [disabled]="!pageNextEnabled" color="foreground" (click)="nextPageNaviButtonClick()">
      <i class="material-icons">chevron_right</i>
    </button>
  </div>
  <button mat-fab disabled="true" color="accent">
    <i class="material-icons">chevron_right</i>
  </button>
</div>

<mat-toolbar>
  <a [routerLink]="['/']">
    <img class="logo" src="assets/IQB-LogoA.png" matTooltip="Startseite"/>
  </a>
  <span>{{ title }}</span>
  <span class="itp-fill-remaining-space"></span>

  <button mat-icon-button *ngIf="isLoggedIn" (click)="logout()" matTooltip="Abmelden">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
