<mat-card *ngIf="isSuperadmin">
  <mat-card-header>
    <!--<i mat-card-avatar class="material-icons">settings</i>-->
    <mat-card-title>Konfiguration</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button [routerLink]="['/superadmin/itemauthoring']">Autorenmodule</button>
    <button mat-button [routerLink]="['/superadmin/itemplayer']">Itemplayer</button>
    <button mat-button [routerLink]="['/superadmin/users']">Nutzer</button>
    <button mat-button [routerLink]="['/superadmin/workspaces']">Arbeitsbereiche</button>
  </mat-card-actions>
</mat-card>
