<div class="columnhost" fxLayout="row" fxLayoutAlign="space-between start">
  <div class="spinner-container" *ngIf="dataLoading">
      <mat-spinner></mat-spinner>
  </div>

  <!-- ============================================= -->
  <div class="objectlist" fxLayout="column" fxFlex="40">
    <div fxLayout="row">
        <button mat-raised-button (click)="addObject()" matTooltip="Autorenmodul hinzufügen" matTooltipPosition="above">
            <mat-icon>add</mat-icon>
          </button>
        <button mat-raised-button (click)="deleteObject()" [disabled]="(selectedItemAuthoringToolId.length == 0) && (tableselectionCheckbox.selected.length == 0)"
            matTooltip="Markierte/s Autorenmodul/e löschen" matTooltipPosition="above">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button (click)="changeObject()"  [disabled]="(selectedItemAuthoringToolId.length == 0) && (tableselectionCheckbox.selected.length == 0)"
            matTooltip="Autorenmodul umbenennen" matTooltipPosition="above">
          <mat-icon>edit</mat-icon>
        </button>
    </div>

    <mat-table [dataSource]="objectsDatasource" matSort>
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef fxFlex="70px">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="tableselectionCheckbox.hasValue() && isAllSelected()"
                        [indeterminate]="tableselectionCheckbox.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="70px">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tableselectionCheckbox.toggle(row) : null"
                        [checked]="tableselectionCheckbox.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
        [style.background]="tableselectionRow.isSelected(row) ? 'lightblue' : ''"></mat-row>
    </mat-table>
  </div>

  <!-- ============================================= -->
  <div fxLayout="column" fxFlex="55">

    <div *ngIf="selectedItemAuthoringToolId.length == 0">
      <p>Bitte links ein Autorenmodul wählen</p>
    </div>

    <div *ngIf="selectedItemAuthoringToolId.length > 0" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex *ngIf="!hasFiles()">
        Keine Dateien für "{{ selectedItemAuthoringToolId }}" im System.</div>
      <div fxFlex *ngIf="hasFiles()">
        Dateien für "{{ selectedItemAuthoringToolId }}":</div>

      <button fxFlex="88px" mat-raised-button (click)="hiddenfileinput.click()" matTooltip="Dateien hochladen/aktualisieren" matTooltipPosition="above">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button fxFlex="88px" mat-raised-button (click)="deleteFiles()" [disabled]="tableselectionCheckboxFiles.selected.length == 0"
          matTooltip="Markierte Dateien löschen" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>

      <input #hiddenfileinput type="file" name="authoringtoolfile" multiple [iqbFileShortUploadInputFor]="fileUploadQueue" hidden="true"/>
    </div>

    <iqb-file-short-upload-queue #fileUploadQueue
      [httpUrl]="uploadUrl"
      [fileAlias]="'authoringtoolfile'"
      [tokenName]="'t'"
      [token]="token"
      [folderName]="'i'"
      [folder]="selectedItemAuthoringToolId"
      (uploadCompleteEvent)="updateFileList()">
    </iqb-file-short-upload-queue>


    <mat-table [dataSource]="filesDatasource" *ngIf="hasFiles()" matSort>
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef fxFlex="60px">
          <mat-checkbox (change)="$event ? masterToggleFiles() : null"
                        [checked]="tableselectionCheckboxFiles.hasValue() && isAllSelectedFiles()"
                        [indeterminate]="tableselectionCheckboxFiles.hasValue() && !isAllSelectedFiles()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="60px">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tableselectionCheckboxFiles.toggle(row) : null"
                        [checked]="tableselectionCheckboxFiles.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="filename">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="namecell" fxFlex> Name </mat-header-cell>
        <mat-cell *matCellDef="let element" class="namecell" fxFlex><a target="_blank" [href]="getDownloadRef(element)">{{element.filename}}</a> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="filedatetime">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="datecell" fxFlex="80px"> Datum </mat-header-cell>
        <mat-cell *matCellDef="let element" class="datecell" fxFlex="80px"> {{element.filedatetimestr}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="filesize">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="80px"> Größe </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="80px"> {{element.filesizestr}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsFiles"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsFiles;"></mat-row>
    </mat-table>
  </div>
</div>
