<div class="page-body" fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="1 1 60%" *ngIf="!isLoggedIn">
    <p>Das <a href="http://www.iqb.hu-berlin.de" target="_blank">Institut zur Qualitätsentwicklung im Bildungswesen</a>
    betreibt auf diesen Seiten eine Pilotanwendung für das Erstellen computerbasierter Testitems.</p>
    <p>Um sich anzumelden, geben Sie bitte den entsprechenden Namen und das Kennwort ein.
      Sie können über das Seitenmenü oben rechts ggf. weitere Funktionen aufrufen.</p>
    <p>Bei Fragen zu diesem System wenden Sie sich bitte an <a href="mailto:mechtel@iqb.hu-berlin.de?subject=Zum%20IQB-Itembankingsystem">Martin Mechtel</a>.</p>
  </div>


  <form [formGroup]="loginform" (ngSubmit)="login()" *ngIf="!isLoggedIn" fxFlex="180px" fxLayout="column">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Benutzername">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="pw" placeholder="Kennwort" (keyup.enter)="login()">
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="loginform.invalid">Anmelden</button>
  </form>

  <div *ngIf="isError" class="intro-main">
      <p>{{ errorMessage }}</p>
  </div>

  <superadmin-dashboard></superadmin-dashboard>
  <authoring-dashboard></authoring-dashboard>
</div>
