<h1 mat-dialog-title>Programm-Info</h1>
<mat-dialog-content>
  <p>Diese Web-Anwendung dient der Entwicklung von Aufgaben für das computerbasierte Testen.</p>
  <ul>
    <li>Programmname: {{ appName }}</li>
    <li>Programmversion: {{ appVersion }}</li>
    <li>Lizenz: {{ appPublisher }}</li>
  </ul>
  <p>
    Der Zugriff auf den nicht-öffentlichen Bereich ist nur über Kontaktaufnahme mit dem IQB möglich:
    <a href="mailto:mechtel@iqb.hu-berlin.de">E-Mail</a>.
  </p>
  <ul>
    <li>Login-Status: {{ data.status }}</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
