<form [formGroup]="newunitform">
  <h1 mat-dialog-title>{{data.title}}</h1>

  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput formControlName="key" placeholder="Kurzname" [value]="data.key">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="label" placeholder="Name" [value]="data.label">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="newunitform" [disabled]="newunitform.invalid">Speichern</button>
    <button mat-raised-button [mat-dialog-close]="false">Abbrechen</button>
  </mat-dialog-actions>

</form>
